
__pycache__/
*.pyc
*.pyo
*.pyd


venv/
ENV/
env/
.venv/


instance/
*.db
*.sqlite3


.env
*.env
config.py
*.cfg
pyvenv.cfg


*.log


.vscode/
.idea/
.DS_Store
Thumbs.db


build/
dist/
*.egg-info/
.eggs/
